<div ng-controller="rssController">
    <input id="username" value="<%= username %>" style="display: none;">
    <center><h1 id="main-title" class="container">{{appName}}</h1></center>
    <div class="header topBar">
        <% if (username.length > 0) { %>
        <h3>Logged in as <%= username %></h3>
        <% } else { %>
        <h3>Not logged in</h3>
        <% } %>
    </div>
    <div class="topBar">
        <button type="button" id="addData" class="btn btn-success " ng-click="addData()">Add Row</button>
        <button type="button" id="runCheck" class="btn btn-success" ng-click="runCheck()">Check for updates</button>
        <button type="button" id="refresh" class="btn btn-success" ng-click="refreshList()">Refresh</button>
        <% if (username.length > 0) { %>
        <button type="button" id="logout" class="btn btn-success" ng-click="logout()">Logout</button>
        <% } else { %>
        <button type="button" id="login" class="btn btn-success" ng-click="login()">Login</button>
        <% } %>
    </div>
    <div ui-grid="gridOptions" class="rssGrid" ui-grid-edit ui-grid-resize-columns ui-grid-move-columns></div>
    <toaster-container></toaster-container>
</div>

