<!DOCTYPE html>
<html>
<head>
    <title>Rss Reader</title>

    <!--STYLES-->
    <link rel="stylesheet" href="styles/dependencies/ui-grid.min.css">
    <link rel="stylesheet" href="styles/dependencies/toaster.min.css">
    <link rel="stylesheet" href="styles/dependencies/dialogs.min.css">
    <link rel="stylesheet" href="styles/dependencies/bootstrap.min.css">
    <link rel="stylesheet" href="styles/rss.css">
    <!--STYLES END-->
</head>

<body>
<
<%- body %>

<script>
    var USERNAME =<%= (req.session.user != '') ? req.session.user.username : ''; %>
</script>
<!--SCRIPTS-->
<script src="js/dependencies/angular.min.js"></script>
<script src="js/dependencies/ui-grid.js"></script>
<script src="js/dependencies/ui-bootstrap-tpls.min.js"></script>
<script src="js/dependencies/angular-animate.min.js"></script>
<script src="js/dependencies/angular-sanitize.min.js"></script>
<script src="js/dependencies/angular-translate.min.js"></script>
<script src="js/dependencies/dialogs-default-translations.min.js"></script>
<script src="js/dependencies/dialogs.min.js"></script>
<script src="js/dependencies/toaster.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/controller/loginController.js"></script>
<script src="js/app/controller/rssController.js"></script>
<script src="js/app/service/loginService.js"></script>
<script src="js/app/service/rssService.js"></script>
<!--SCRIPTS END-->
</body>
</html>
