<div ng-controller="loginController">
    <div class="container">
        <h2 class="form-signin-heading">Login to {{appName}}</h2>
        <div class="col-xs-3"><label for="username" class="sr-only">Username</label>
            <input type="text" ng-model="user.username" class="form-control col-xs-3" placeholder="Username" required
                   autofocus>
            <div
            <label for="password" class="sr-only">Password</label>
            <div class="col-xs-3">
                <input type="password" id="password" class="form-control" ng-model="user.password"
                       placeholder="Password"
                       required></div>
            <button class="btn btn-primary btn-md" ng-click="loginUser(user)">Sign in</button>
        </div>
    </div>