.rssGrid {
    width: 95%;
    height: 600px;
}

.modal {
    display: block;
}

.dialog-header-confirm {
    background-color: #111;
}

.Absolute-Center {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}
.ui-grid-row:nth-child(even) .ui-grid-cell .ui-grid-header-cell{
    background-color: #B1BDFB;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #D8DEFD;
}
body {
    background-color:#3C5Bf5;
}